<!-- <button 
    (click)="login()"
    class="btn btn-primary">Login with Google</button> -->

<div class="body">
    <div class="main">
        <div class="main-w3l">
            <h1 class="logo-w3">Space Login Form</h1>
            <div class="w3layouts-main">
                <h2><span>Login now</span></h2>
                <div class="social">
                    <a (click)="login()">
                        Login with Google
                    </a>
                </div>
                <h3>(Or)</h3>
                <form #f="ngForm" (ngSubmit)="loginEmail(f.value)">
                    <input #email="ngModel" ngModel placeholder="Email" name="email" type="email">
                    <input #password="ngModel" ngModel placeholder="Password" name="password" type="password">
                    <br>
                    <input type="submit" value="Login" name="login">
                </form>
                <h6><a href="#">Lost Your Password?</a></h6>
            </div>
            <!-- //main -->

            <!--footer-->
            <div class="footer-w3l">
                <p>&copy; 2017 Space Login Form. All rights reserved | Design by <a href="">NSX</a></p>
            </div>
            <!--//footer-->
        </div>
    </div>
</div>