<!-- <div class="row">
    <ng-container *ngFor="let p of product$ | async; index as i">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" [src]="p.imageUrl" alt="Cart image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ p.title }}</h5>
                    <p class="card-text">{{ p.price | currency:'USD':true }}</p>
                    <a href="#" class="btn btn-primary myadd">Add To Cart</a>
                </div>
            </div>
        </div>
    </ng-container>
</div> -->

<!--  ---------------- thừa ------------------ -->